<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUjLP1125PUsWibzT-TLiPYjbL_PWCjc0</string>
	<key>GCM_SENDER_ID</key>
	<string>864060408584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBlocFirebaseCrud</string>
	<key>PROJECT_ID</key>
	<string>flutter-bloc-firebase-cr-34925</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bloc-firebase-cr-34925.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864060408584:ios:d68955c37e605d4b5c62bd</string>
</dict>
</plist>